/* Общие стили */
body {
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-color: #282828;
}

.clearfix:after {
content: "";
display: table;
clear: both;
}

.wrapper {
  position: relative;
  max-width: 1160px;
  min-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #8ba597;
}

.container {
  width: 100%;
}

main .container {
  position: relative;
  z-index: 20;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  display: block;
  padding: 12px 40px;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;
}

.btn:hover {
  color: #fff;
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  color: #fff;
  background-color: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0 2px 2px #942718;
}

a {
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid #a9bbb1;
}

a:hover, a:active {
  color: #ffbc9e;
  border-color: #a7a294;
}

figure {
 margin: 0;
 padding: 0;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 16px;
  line-height: 22px;
}

input, select {
  outline: none;
}
/* Стили построения сетки */
/* Сетка главной страницы */

.carousel-wrapper{
  position: absolute;
  display: block;
  z-index: 1;
}

.carousel-buttons {
  position: absolute;
  top: 562px;
  left: 0;
  display: block;
}

.slide {
  display: block;
  min-width: 1160px;
  min-height: 881px;
  margin: 0 auto;
  padding-top: 1px;
  text-align: center;
  outline: 1px solid red;
  outline-offset: -2px;
}

.slide-1 {
  display: block;
  background: url("../img/bg-slide-1.png") no-repeat 55% 0px;
}

.slide-2 {
  display: none;
  background: url("../img/bg-slide-2.png") no-repeat 55% 0;
}

.slide-3 {
  display: none;
  background: url("../img/bg-slide-3.png") no-repeat 55% 0;
}

.slide-title {
  width: 670px;
  margin: 0 auto;
  margin-top: 392px;
  margin-bottom: 22px;
  font-size: 60px;
  line-height: 60.35px;
}

.slide .btn {
  width: 200px;
  margin: 0 auto;
  padding: 11px 40px;
  font-size: 32px;
  line-height: 44px;
}

.bg-btn {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 2px solid #fff;
  background-color: #8ba597;
  border-radius: 50%;
}

.bg-btn.active {
  background-color: #fff;
}

.main-header {
  position: relative;
  width: 100%;
}

.main-page .main-header {
  z-index: 30;
}

.main-page .main-header {
  margin-bottom: 520px;
}

.inner-page .main-header {
  margin-bottom: -29px;
}

.main-logo {
  float: left;
  width: 160px;
  height: 66px;
  margin-right: 16px;
  padding-top: 8px;
  margin-left: -6px;
}

.main-menu-box {
  position: relative;
  float: left;
  padding-top: 21px;
}

.main-menu-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-box-item {
  position: relative;
  float: left;
  margin-right: 10px;
}

.menu-box-item .menu-item {
  position: relative;
  display: block;
  padding: 7px 14px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
}

.menu-box-item .menu-item:hover,
.menu-box-item .menu-item:active {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 15px;
}

.menu-box-item .menu-item:active {
  box-shadow: inset 0 2px 1px #696969;
}

.menu-item.active {
  box-shadow: inset 0 2px 1px #696969;
}

.menu-box-item .menu-item:hover::after,
.menu-box-item .menu-item:active::after {
display: none;
}

.menu-box-item .menu-item:hover+.catalog-inner-menu,
.menu-box-item .menu-item:hover+.catalog-inner-menu {
  display: block;
}

.catalog-inner-menu {
  position: absolute;
  top: 35px;
  left: -5px;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  z-index: 30;
}

.menu-item a:hover+.catalog-inner-menu,
.menu-item a:hover {
  display: block;
}

.inner-menu-item a,
.item-border {
  position: relative;
  display: block;
  min-width: 123px;
  padding-left: 20px;
  padding-right: 0;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.item-border::after {
  position: absolute;
  bottom: 0;
  left: 8px;
  content: "";
  display: block;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.item-border {
  padding-top: 10px;
  padding-bottom: 11px;
}

.inner-menu-item:nth-child(2) a {
  padding-top: 10px;
  padding-bottom: 11px;
}

.inner-menu-item:nth-child(3) a {
  padding-top: 6px;
  padding-bottom: 7px;
}

.inner-menu-item:nth-child(4) a {
  padding-top: 8px;
  padding-bottom: 9px;
}

.inner-menu-item:nth-child(5) a {
  padding-top: 8px;
  padding-bottom: 12px;
}

.inner-menu-item a:hover {
  background-color: #fbded7;
}

.inner-menu-item a:active {
  background-color: #f6b5a5;
}

.inner-menu-item .active {
  background-color: #d07058;
}

.users-container {
  float: right;
  padding-top: 23px;
  text-align: right;
}

.user-block {
  margin-bottom: 18px;
}

.user-search {
  position: relative;
  float: left;
  width: 32px;
  margin-left: 5px;
  margin-right: 10px;
}

.user-search-button {
  display: block;
  width: 32px;
  height: 32px;
  background: #a0b4a9 url("../img/search-icon.svg") no-repeat 55% 50%;
  border-radius: 50%;
}

.user-search-button:hover {
  background: #fff url("../img/search-icon-hover.svg") no-repeat 55% 50%;
}

.popup-search {
  display: none;
}

.user-search-button:hover + .popup-search {
  position: absolute;
  top: 38px;
  right: 0;
  display: block;
  width: 310px;
  height: 44px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 40;
}

.search, .login-mail, .login-password {
  width: 281px;
  height: 42px;
  box-sizing: border-box;
  padding: 0 14px;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font: inherit;
  font-size: 14px;
  outline: none;
}

.popup-search .search-submit {
  display: none;
}

.user-login {
  position: relative;
  float: left;
  width: 93px;
  margin-right: 10px;
}

.user-login-button {
  position: relative;
  display: block;
  padding: 5px 15px;
  padding-left: 45px;
  font: inherit;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  background-color: #a0b4a9;
}

.user-login-button:hover {
  color: #000;
  background-color: #fff;
}

.user-login-button .active {
  color: #000;
  background-color: #323232;
}

.user-login-button::before {
  position: absolute;
  display: block;
  top: 6px;
  left: 17px;
  content: "";
  display: block;
  width: 22px;
  height: 20px;
  background: #9fb4a9 url("../img/login-icon.svg") no-repeat;
}

.user-login-button:hover::before {
  background: #fff url("../img/login-icon-hover.svg") no-repeat;
}

.popup-login {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 243px;
  padding: 20px 17px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.user-login-button:hover + .popup-login,
.user-login-button:hover + .popup-login {
  display: block;
}

.login-mail, .login-password {
  width: 240px;
  margin-bottom: 20px;
  padding: 14px 12px;
}

.login-navigation .login-btn  {
  float: left;
  padding: 11px 24px;
  color: #fff;
  font-size: 18px;
  font-wight: 700;
}

.login-navigation .col {
  float: right;
  width: 119px;
  padding-right: 5px;
}

.login-navigation a {
  display: block;
  color: #323232;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.user-cart {
  position: relative;
  float: right;
}

.cart-noadd {
  display: block;
  padding-right: 34px;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 20px;
  background-color: #a0b4a9;
}

.cart-noadd::before {
  position: absolute;
  top: 8px;
  left: 16px;
  content: "";
  display: block;
  width: 23px;
  height: 22px;
  background: #9fb4a9 url("../img/cart-icon.svg") no-repeat;
}

.cart-add {
  display: none;
  padding-right: 34px;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #313131;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  background-color: #fff;
}

.cart-add::before {
  position: absolute;
  top: 8px;
  left: 16px;
  content: "";
  display: block;
  width: 23px;
  height: 22px;
  background: #fff url("../img/cart-full.png") no-repeat;
}

.inner-page .cart-noadd {
  display: none;
}

.inner-page .cart-add {
  display: block;
}

.cart-add.active {
  display: block;
}

.popup-cart {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 507px;
  min-height: 202px;
  padding: 20px 16px;
  color: #323232;
  font-size: 13px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.cart-add:hover + .popup-cart {
  display: block;
}

.cart-item {
  margin-bottom: 18px;
}

.cart-title, .cart-calculation, .total-cart-price {
  float: left;
  display: block;
  padding-top: 7px;
 }

.item-del {
  position: relative;
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 12px;
  margin-right: 13px;
  padding: 0;
  border: none;
  background-color: #f8f7f4;
  cursor: pointer;
}

.item-del::after,
.item-del::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: #7e7d7c;
}

.item-del::after {
  left: 1px;
  width: 13px;
  transform: rotate(45deg);
}

.item-del::before {
  left: 1px;
  width: 13px;
  transform: rotate(-45deg);
}

.cart-img {
  float: left;
  display: block;
  margin-right: 13px;
  line-height: 0;
}

.cart-title {
  width: 220px;
  margin-right: 33px;
  text-align: left;
}

.cart-calculation {
  margin-right: 27px;
}

.cart-price {
  color: #999999;
}

.total-box {
  margin-bottom: 12px;
  padding-top: 13px;
  border-top: 1px solid #cacac7;
}

.total {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.popup-cart .cart-btn {
  float: right;
  width: 142px;
  padding: 10px 14px;
  font-size: 18px;
}

.header-contacts {
  float: right;
  width: 171px;
}

.wrapper .row {
  width: 100%;
}

.promo-block {
  width: 47.8%;
  box-sizing: border-box;
  min-height: 230px;
  padding: 18px 23px;
  border-radius: 15px;
}

.promo-block.left {
  background: url("../img/promo-bg-1.jpg") no-repeat;
}

.promo-block.right {
  background: url("../img/promo-bg-2.jpg") no-repeat;
}

.promo-block:last-child {
  margin-right: 0;
}

.promo-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}

.promo-text {
  margin-bottom: 37px;
}

.promo-block .btn {
  float: right;
  padding: 12px 20px;
}

.promo-block-row {
  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  display: block;
  float: left;
  width: 23.2%;
  margin-right: 2.4%;
  padding-top: 6px;
}

.catalog-item:hover .item-hover {
  position: absolute;
  display: block;
  width: 280px;
  height: 405px;
  margin-top: -6px;
  margin-left: -13px;
  padding-top: 6px;
  padding-left: 13px;
  background-color: rgba(173,189,179,0.8);
  border-radius: 5px;
  z-index: 30;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .item-hover-btn {
  display: none;
}

.catalog-item:hover .item-hover-btn {
  display: block;
  width: 170px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 12px 15px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}

.catalog-item figure {
  width: 100%;
  max-width: 267px;
  height: auto;
  text-align: center;
}

.catalog-item figcaption {
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.catalog-item:hover figcaption {
  border: none;
}

.catalog-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.item-decoration {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 61px;
  height: 61px;
  background: url("../img/item-decor.png") no-repeat;
}

.catalog-item:hover .item-decoration {
  top: 6px;
  left: 13px;
}

.inner-page .item-decoration {
  display: none;
}

.item-price {
  position: absolute;
  top: 220px;
  left: 0px;
  font-size: 45px;
}

.catalog-item:hover .item-price {
  left: 13px;
}

.item-price span {
  font-size: 30px;
}

.catalog-row {
  margin-bottom: 40px;
}

.features {
  margin-bottom: 40px;
  padding: 1px 18px;
  color: #323232;
  background: #f2e8d3 url("../img/features-bg.jpg");
  border-radius: 15px;
}

.features-title {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
}

.features .left-column,
.features .right-column {
  width: 48.3%;
}

.features-icon {
  float: left;
}

.features-item {
  width: 100%;
}

.features-icon {
  max-width: 100%;
  height: auto;
}

.features-item p {
  float: right;
  width: 86.4%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.features-item .features-text {
  margin-bottom: 20px;
}

.promo-block-newslatter,
.promo-block-news {
  width: 47.8%;
  box-sizing: border-box;
  min-height: 220px;
  padding-top: 26px;
  padding-left: 20px;
  color: #323232;
  border-radius: 15px;
}

.promo-block-news {
  background: url("../img/news-bg.jpg") no-repeat;
}

.promo-news {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
}

.promo-block-news p {
  margin: 0;
  margin-bottom: 8px;
}

.news-text {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.promo-block-newslatter {
  margin-right: 0;
  padding: 37px 27px;
  background: url("../img/newsletter-bg.jpg") no-repeat;
}

.newslatter-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.email-user {
  float: left;
  width: 236px;
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.promo-block-newslatter .btn {
  float: right;
}

.news-row {
  margin-bottom: 40px;
}

.main-map {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.main-map::after {
  position: absolute;
  top: 137px;
  left: 22%;
  content:"";
  display: block;
  min-width: 80px;
  min-height: 140px;
  background: url("../img/pin.svg") no-repeat;
}

.main-map::before {
  position: absolute;
  top: 169px;
  left: 25%;
  content:"";
  display: block;
  width: 182px;
  height: 110px;
  background: url("../img/pin-shadow.png") no-repeat;
}

.map-img {
  display: block;
  max-width: 1200px;
  min-width: 900px;
  width: 100%;
  height: auto;
}

.map-information {
  position: absolute;
  right: 20px;
  top: 62px;
  padding: 31px 26px;
  color: #323232;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
}

.map-information p {
  margin: 0;
}

.map-information .common-text {
  width: 160px;
  margin-bottom: 6px;
}

.map-information .address {
  width: 222px;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
}

.tel-common-text {
  display: block;
  margin-bottom: 9px;
}

.tel {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 22px;
}

.map-information .schedule-text {
  display: block;
  margin-bottom: 26px;
}

.main-map .btn {
  width: 196px;
  padding: 11px 27px;
  font-size: 18px;
}

.main-footer {
  width: 100%;
  border-top: 1px solid #a9bbb1;
}

.footer-social {
  float: left;
  width: 22.22%;
  margin-right: 11%;
}

.footer-social {
  margin-top: 36px;
}

.social {
  float: left;
  display: block;
  width: 31px;
  height: 31px;
  margin-right: 11px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social:hover {
  opacity: 1;
}

.social:active {
  box-shadow: inset 0 2px 1px #888;
}

.twitter {
  background: url("../img/twitter-icon.svg") no-repeat;
}

.instagram {
  background: url("../img/insta-icon.svg") no-repeat;
}

.fb {
  background: url("../img/fb-icon.svg") no-repeat;
}

.vk {
  background: url("../img/vk-icon.svg") no-repeat;
}

.footer-menu {
  float: left;
  width: 28.5%;
  margin-top: 36px;
}

.footer-menu .left-column {
  width: 138px;
  padding-left: 22px;
}

.footer-menu .right-column {
  width: 170px;
}

.footer-menu-item {
  position: relative;
  display: block;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

.left-column .footer-menu-item:first-child::before {
  position: absolute;
  top: 3px;
  left: -20px;
  content: "";
  display: block;
  width: 17px;
  height: 14px;
  background: url("../img/heart-icon.svg") no-repeat;
}

.footer-copyright {
  float: right;
  width: 18.4%;
  margin-top: 20px;
}

.footer-logo {
  margin: 0 auto;
}

.copyright-text {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

/* Сетка каталога */

.breadcrumbs {
  margin-bottom: 8px;
  z-index: 5;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 14px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 1px;
  right: 1px;
  content: "»";
}

.catalog-main-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
}

.catalog-sort {
  width: 862px;
  margin-bottom: 40px;
}

.sort {
  float: left;
  width: 195px;
  margin-right: 14px;
}

.sort-title, .check-box-title {
  padding-left: 15px;
}

.sort select {
  padding: 8px 16px;
  padding-top: 7px;
  padding-right: 10px;
  background-color: #a9bab0;
  border: none;
  border-radius: 15px;
}

.sort select:hover {
  color: #323232;
  background-color: #fff;
}

.sort-range-filter {
  float: left;
  margin-right: 14px;
}

.sort-price-controls {
  padding-left: 15px;
}

.controls-min, .controls-max {
  float: left;
}

.min-price, .max-price {
  width: 30px;
  margin-right: 5px;
  background-color: #97aca1;
  border: none;
  outline: none;
}

.filter-controls {
  position: relative;
  width: 186px;
  height: 4px;
  padding: 16px 16px;
  background: #abbcb2;
  border-radius: 15px;
}

.filter-scale {
  position: relative;
  width: 188px;
  height: 4px;
  background: #d1d9d3;
}

.scale-bar {
  position: absolute;
  left: 10%;
  width: 148px;
  height: 4px;
  background: #f8f7f4;
}

.sort-toggle {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
}

.sort-min-toggle {
  left: 22px;
}

.sort-max-toggle {
  left: 170px;
}

.radio-box {
  float: left;
}

.radio-box-bg, .check-box-bg {
  padding: 7px 15px;
  background: #abbcb2;
  border-radius: 20px;
}

.radio-box-title {
  padding-left: 15px;
}

.radio input, .checkbox input {
  display: none;
}

.radio, .checkbox {
  position: relative;
  float: left;
  margin-right: 18px;
  padding-left: 32px;
  cursor: pointer;
}

.radio:last-child,
.checkbox:last-child {
  margin-right: 0;
}

.radio::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 50%;
}

.radio-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.radio-check:checked + .radio-indicator {
  display: block;
}

.sort-row-1 {
  margin-bottom: 16px;
}

.check-box {
  float: left;
  width: 702px;
}

.checkbox::before {
  position: absolute;
  top: 2px;;
  left: 0;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
}

.checkbox-indicator::before {
  position: absolute;
  top: 8px;
  left: 6px;
  content: "";
  display: none;
  width: 8px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.checkbox-check:checked + .checkbox-indicator::before {
  display: block;
}

.radio:hover::before,
.checkbox:hover::before {
  border: 2px solid #fff;
}




/* Тут сильно запутался! */



.radio-check:disabled ~ .radio::before,
.checkbox-check:disabled ~ .checkbox::before,
.radio .disabled,
.checkbox .disabled {
  opacity: 0.4;
}

.catalog-sort .sort-btn {
  float: right;
  width: 144px;
  height: 36px;
  box-sizing: border-box;
  padding: 5px 25px;
  background-color: #9cb0a4;
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
}

.catalog-sort .sort-btn:hover {
  color: #323232;
  background-color: #fff;
  border: none;
}

.catalog-sort .sort-btn:active {
  background-color: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px #6c6d6c;
}

.item-row {
  margin-bottom: 35px;
}

.paginator {
  float: right;
  width: 180px;
  margin-top: 80px;
  margin-bottom: 29px;
}

.arrow {
  float: left;
  display: block;
  width: 7px;
  height: 7px;
  margin-top: 8px;
}

.arrow-left {
  margin-right: 14px;
  border-right: 2px solid #9db1a5;
  border-bottom: 2px solid #9db1a5;
  transform: rotate(135deg);
}

.arrow-right {
  margin-left: 14px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
}

.paginator .active {
  float: left;
  display: block;
  padding: 2px 8px;
  color: #7d7d7d;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.paginator-item {
  float: left;
  display: block;
  padding: 2px 8px;
  color: #fff;
  text-decoration: none;
}

.paginator-item:hover {
  color: #fff;
  background-color: #9db1a5;
  border-radius: 50%;
}

.paginator-item:active {
  color: #323232;
  background-color: #fff;
  border-radius: 50%;
}

.popup-form {
  position: fixed;
  top: 20%;
  left: 35%;
  display: none;
  width: 477px;
  height: 442px;
  padding: 18px 24px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 100;
}

.popup-form.show {
  display: fixed;
}

.popup-form form {
  position: relative;
}

.popup-form-title {
  margin: 0;
  margin-bottom: 18px;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}

.popup-name, .popup-mail {
  display: block;
  width: 239px;
  height: 44px;
  margin-bottom: 20px;
  padding: 0 14px;
  color: #323232;
  background-color: #fff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.popup-form textarea {
  width: 400px;
  height: 121px;
  margin-bottom: 25px;
  padding: 12px 14px;
  background-color: #fff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.popup-btn {
  float: right;
  padding: 11px 24px;
  font-size: 18px;
}

.popup-form-close {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f8f7f4;
}

.popup-form-close::after,
.popup-form-close::before {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background-color: #131313;
}

.popup-form-close::after {
  top: 1px;
  transform: rotate(45deg);
}

.popup-form-close::before {
  top: 1px;
  transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
}
