body {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-color: grey;
}

.clearfix {
 	content: "";
 	display: table;
 	clear: both;
 }

.wrapper {
  max-width: 1160px;
  min-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
  outline-offset: -2px;
}

.container {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

figure {
 margin: 0;
 padding: 0;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 16px;
  line-height: 22px;
}

.main-header {
  width: 100%;
  min-keight: 75px;
  outline: 1px solid red;
  outline-offset: -2px;
}

.carousel-wrapper {
  display: none;
}

.main-logo {
  float: left;
}

.main-menu {
  float: left;
  width: 355px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.menu-item {
  float: left;
}

.menu-catalog {
  display: none;
  outline: 1px solid green;
  outline-offset: -2px;
}

.users-container {
  float: right;
  width: 267px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.user-search {
  float: left;
}

.popup-login {
  display: none;
}

.popup-search {
  display: none;
}

.user-login {
  float: left;
}

.user-cart {
  float: left;
}

.cart-noadd, .cart-add {
  display: none;
}

.index-page .cart-noadd {
  display: block;
}

.inner-page .cart-add {
  display: block;
}

.header-contacts {
  width: 170px;
}

.wrapper .row {
  width: 100%;
  margin-bottom: 40px;
}

.promo-block,
.promo-block-newslatter,
.promo-block-news {
  width: 48.8%;
  min-height: 230px;
  margin-right: 1.75%;
  outline: 1px solid red;
  outline-offset: -2px;
}

.promo-block:last-child {
  margin-right: 0;
}

.catalog-item {
  float: left;
  width: 23.2%;
  margin-right: 2.4%;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item figure {
  width: 100%;
  max-width: 267px;
  height: auto;
}

.catalog-item img {
  width: 100%;
  height: auto;
}

.features {
  margin-bottom: 40px;
  padding: 17px 20px;
  outline: 1px solid green;
  outline-offset: -2px;
}

.features .left-column,
.features .right-column {
  width: 48.3%;
  outline: 1px solid red;
  outline-offset: -2px;
}

.features-icon {
  float: left;
}

.features-item {
  width: 100%;
}

.features-icon {
  max-width: 100%;
  height: auto;
}

.features-item p {
  width: 85.4%;
  float: right;
}

.promo-block-newslatter {
  margin-right: 0;
}

.main-map {
  margin-left: -20px;
  margin-right: -20px;
}

.map-img {
  max-width: 1200px;
  min-width: 900px;
  width: 100%;
  height: auto;
}

.main-footer {
  width: 100%;
  outline: 1px solid red;
  outline-offset: -2px;
}

.footer-social {
  float: left;
  width: 22.22%;
  margin-right: 20px;
  outline: 1px solid red;
  outline-offset: -2px;
}

.footer-menu {
  float: left;
  width: 46.66%;
  outline: 1px solid red;
  outline-offset: -2px;
}

.footer-menu .left-column {
  width: 160px;
}

.footer-menu .right-column {
  width: 170px;
}

.footer-menu-item {
  display: block;
}

.footer-copyright {
  float: right;
  width: 22.22%;
  outline: 1px solid red;
  outline-offset: -2px;
}

.breadcrumbs {
  margin-top: 27px;
  margin-bottom: 8px;
}

.catalog-main-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.catalog-sort {
  width: 860px;
  outline: 1px solid red;
  outline-offset: -2px;
}

.paginator {
  float: right;
  width: 190px;
  margin-top: 80px;
  margin-bottom: 30px;
}
